<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MerrequinhaAPI.Properties.Settings.smsgastosdbConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=smsgastosdb;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>